.logo {
    font-family: 'Pacifico', cursive;        
    padding: 15px;
    line-height: -20px;
    color: #343641;
    text-shadow: 3px 1px 0px white;
    font-size: 20px;
}
.logo:hover {
    color: #343641 !important;
}

#mybtn {
    margin: 10px;
}