<template>
  <b-form-group horizontal
                :label-cols="2"
                :label="'Answer  '+ (answer.id + 1) +' : '"
                label-for="input_sm">
    <b-form-input id="input_sm" size="sm" v-model="answer.val"></b-form-input>
  </b-form-group>
</template>
<script>
export default {
  props: ["answer"]
};
</script>
