<template>
    <div>
      <label> {{ answer.que }} </label>
      <b-form-radio-group v-model="answer.val">
        <b-form-radio :value="ans" v-for="(ans , index) in answer.answerList" :key="index">{{ ans }}</b-form-radio>
      </b-form-radio-group>
  </div>
</template>
<script>
export default {
  props: ["answer"],
};
</script>
