<template>
  <div class="mt-4 box">
      <b-link to="/view"> 
      <b-card
            border-variant="primary"
            :header="title"
            header-bg-variant="primary"
            header-text-variant="white"
            align="center"
            bg-variant="light"
            style="max-width: 20rem;"
            class="mb-2">
          <p class="description">
              Description : Desc
          </p>
          <p class="date">Date : 2018.04.29</p>
    </b-card>
    </b-link> 
  </div>
</template>
<style>
a:hover {
  text-decoration: none;
}
</style>

<script>
export default {
  props: ["title"]
};
</script>
