<template>
 <b-container class="bv-example-row w-75 p-3 mb-1">
    <b-form v-if="show">

      <b-form-group horizontal
                    :label-cols="2"
                    label="Title : "
                    label-for="input_sm">
        <b-form-input id="input_sm" size="sm" v-model="title"></b-form-input>
      </b-form-group>

      <b-form-group horizontal
                    :label-cols="2"
                    label="Description : "
                    label-for="input_sm">
        <b-form-input id="input_sm" size="sm" v-model="description"></b-form-input>
      </b-form-group>

      <Question :question="question" v-for="(question, index) in questions" :key="index"></Question>
      <b-button @click="addQuestion" variant="success">Add Question</b-button>
      <b-button @click="create" type="submit" variant="primary">Submit</b-button>
    </b-form>
  </b-container>
</template>
<script>
import Question from "./Question.vue";

export default {
  data() {
    return {
      title : '',
      description : '',
      questions: [
        {
          id: 0,
          title: "",
          answerList: [
            {
              id: 0,
              val: ""
            },
            {
              id: 1,
              val: ""
            }
          ]
        }
      ],
      show: true
    };
  },
  methods: {
    addQuestion() {
      this.questions.push({
        id: this.questions.length,
        title: "",
        answerList: [{ id: 0, val: "" }, { id: 1, val: "" }]
      });
    },
    create() {
      var web3 = this.$store.state.web3;
      var vote = this.$store.state.web3.vote;

      vote.setTitle(this.title);
      vote.setDescription(this.description);

      this.questions.forEach(function(question, index) {
        var ans = [];
        question.answerList.forEach(function(answer, index) {
          ans.push(answer.val);
        });
        vote.createPoll(question.title, ans, {
          from: web3.eth.defaultAccount,
          gas: web3.gasLimit
        });
      });
    },
    validate() {}
  },
  components: {
    Question
  },
  created: function() {
    document.title = "Create poll | Box Block";
  }
};
</script>
