<template>
  <b-container>
    <card :title="title" v-if="show"></card>
  </b-container>
</template>
<script>
import Card from './Card.vue';

export default {
  data() {
    return {
      web3: this.$store.state.web3,
      vote: this.$store.state.web3.vote,
      title : '',
      show : true
    };
  },
  components: {
    Card
  },
  methods: {
  },
  created: function() {
    document.title = "Home page | Box Block";
    this.title = this.web3.toUtf8(this.vote.getTitle());  
    if(this.title == "" || this.title == null) this.show = false;
    // this.slug = 
  }
};
</script>
