<template>
<div>
    <b-form-group horizontal
                :label-cols="2"
                :label="'Question '+ (question.id + 1) + ' : '"
                label-for="input_sm">

      <b-input-group>
        <b-form-input v-model="question.title" ></b-form-input>
        <b-input-group-append>
          <b-btn variant="success" @click="addField">+</b-btn>
        </b-input-group-append>
      </b-input-group>
    </b-form-group>
    <answer :answer="answer" v-for="(answer , index) in question.answerList" :key="index">
    </answer>
</div>
</template>
<script>
import Answer from "./Answer.vue";
export default {
  props: ["question"],
  methods: {
    addField() {
      this.question.answerList.push({
        id: this.question.answerList.length,
        val: ""
      });
    }
  },
  components: {
    Answer
  },
  created: function() {}
};
</script>
