<template>
  <b-container>
    <b-form-group label="" class="mt-4">
      <AnswerList class="mt-4" :answer="answer" v-for="(answer , index) in questions" :key="index" ></AnswerList>

      <b-button type="submit" @click="send" class="mt-3"  variant="success">Submit!</b-button>
    </b-form-group>
    
    
  </b-container>
</template>
<script>
import AnswerList from "./AnswerList.vue";
export default {
  data() {
    return {
      web3: this.$store.state.web3,
      vote: this.$store.state.web3.vote,
      questions: [],
      title: "",
      description: ""
    };
  },
  components: {
    AnswerList
  },
  methods: {
    init() {
      var size = this.vote.getSizeVotes();
      this.title = this.web3.toUtf8(this.vote.getTitle());
      this.description = this.web3.toUtf8(this.vote.getDescription());

      for (var i = 0; i < size; i++) {
        var vote = this.vote.getVote(i);
        var question = {
          que: this.web3.toUtf8(vote[0]),
          answerList: vote[1],
          val: ""
        };
        for (var j = 0; j < question.answerList.length; j++) {
          question.answerList[j] = this.web3.toUtf8(question.answerList[j]);
        }
        this.questions[i] = question;
      }
    },
    send() {
      for (var i = 0; i < this.questions.length; i++) {
        this.vote.voteForCandidate(i, this.questions[i].val);
        var ans = this.vote.totalVotesFor(i, this.questions[i].val);
        console.log(ans);
      }
    }
  },
  created: function() {
    document.title = "View Page | Box Block";
    this.init();
  }
};
</script>
