<template>
  <div id="app">
    <Header></Header>
    <router-view></router-view>
  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import Header from "./components/Header.vue";

export default {
  name: "app",
  data() {
    return {
      web3: {}
    };
  },
  methods: {
    initWeb3() {
      if (typeof this.web3 !== "undefined") {
        this.web3 = new Web3(this.web3.currentProvider);
      } else {
        this.web3 = new Web3(
          new Web3.providers.HttpProvider("http://localhost:8545")
        );
      }
      this.web3.eth.defaultAccount = this.web3.eth.accounts[0];

      var VoteContract = this.web3.eth.contract([
        {
          constant: true,
          inputs: [],
          name: "getDescription",
          outputs: [
            {
              name: "",
              type: "bytes32"
            }
          ],
          payable: false,
          stateMutability: "view",
          type: "function"
        },
        {
          constant: false,
          inputs: [
            {
              name: "index",
              type: "uint256"
            },
            {
              name: "candidate",
              type: "bytes32"
            }
          ],
          name: "voteForCandidate",
          outputs: [],
          payable: false,
          stateMutability: "nonpayable",
          type: "function"
        },
        {
          constant: true,
          inputs: [],
          name: "getSizeVotes",
          outputs: [
            {
              name: "",
              type: "uint256"
            }
          ],
          payable: false,
          stateMutability: "view",
          type: "function"
        },
        {
          constant: true,
          inputs: [
            {
              name: "index",
              type: "uint256"
            }
          ],
          name: "getVote",
          outputs: [
            {
              name: "question",
              type: "bytes32"
            },
            {
              name: "candidateList",
              type: "bytes32[]"
            }
          ],
          payable: false,
          stateMutability: "view",
          type: "function"
        },
        {
          constant: false,
          inputs: [
            {
              name: "_description",
              type: "bytes32"
            }
          ],
          name: "setDescription",
          outputs: [],
          payable: false,
          stateMutability: "nonpayable",
          type: "function"
        },
        {
          constant: true,
          inputs: [
            {
              name: "index",
              type: "uint256"
            },
            {
              name: "candidate",
              type: "bytes32"
            }
          ],
          name: "totalVotesFor",
          outputs: [
            {
              name: "",
              type: "uint8"
            }
          ],
          payable: false,
          stateMutability: "view",
          type: "function"
        },
        {
          constant: false,
          inputs: [
            {
              name: "question",
              type: "bytes32"
            },
            {
              name: "candidateNames",
              type: "bytes32[]"
            }
          ],
          name: "createPoll",
          outputs: [],
          payable: false,
          stateMutability: "nonpayable",
          type: "function"
        },
        {
          constant: false,
          inputs: [
            {
              name: "_title",
              type: "bytes32"
            }
          ],
          name: "setTitle",
          outputs: [],
          payable: false,
          stateMutability: "nonpayable",
          type: "function"
        },
        {
          constant: true,
          inputs: [],
          name: "getTitle",
          outputs: [
            {
              name: "",
              type: "bytes32"
            }
          ],
          payable: false,
          stateMutability: "view",
          type: "function"
        }
      ]);
      this.web3.vote = VoteContract.at(
        "0x8043880400476341c21888fb5b1b39be8ce874e6"
      );
      this.web3.gasLimit = 3000000;
    }
  },

  components: {
    Header
  },
  created: function() {
    this.web3 = this.webs3;
    this.initWeb3();
    this.$store.dispatch("setWeb", this.web3);
  }
};
</script>